<ion-view view-title="{{'label.login' | translate}}">
	<ion-content padding="true" class="has-header" overflow-scroll="true">
		<div class="list">
			<ng-include src="'includes/fb_login.html'"></ng-include>
		</div>
		<div class="list">
			<form name="formEntra" novalidate="novalidate">
				<label class="item item-input item-stacked-label" ng-class="{'has-error-lr': formEntra.Email.$invalid && formEntra.$submitted, 'valid-lr': formEntra.Email.$valid && formEntra.$submitted}">
					<span class="input-label" translate>label.email</span>
					<input type="email" name="Email" ng-model="user.email" ng-maxlength="200" required>
				</label>
				<div class="form-errors" ng-show="formEntra.Email.$error && formEntra.$submitted" ng-messages="formEntra.Email.$error" ng-messages-include="includes/form_errors.html"></div>
				<label class="item item-input item-stacked-label" ng-class="{'has-error-lr': formEntra.Password.$invalid && formEntra.$submitted, 'valid-lr': formEntra.Password.$valid && formEntra.$submitted}">
					<span class="input-label" translate>label.password</span>
					<input type="password" name="Password" ng-model="user.password" ng-maxlength="50" required >
				</label>
				<div class="form-errors" ng-show="formEntra.Password.$error && formEntra.$submitted" ng-messages="formEntra.Password.$error" ng-messages-include="includes/form_errors.html"></div>
				<button class="button button-block button-positive" ng-click="login(formEntra)" translate>button.entro</button>
			</form>
		</div>
		<button class="button button-block button-clear button-assertive" ng-click="goSignup()" translate>label.registrami</button>
	</ion-content>
</ion-view>